.add-todo-item {
    background-color: #D1D1D1;
    /* min-height: 100vh; */
    padding: 2%;
    right: 0;
    top: 0;
}

.add-todo-item > button {
    background-color: #C0A080;
    border: 0;
    border-radius: 55%;
    color: white;
    font-size: large;
    height: 70px;
    margin: 0 auto;
    padding: 8%;
    text-align: center;
    width: max-content;

}

.add-todo-input {
    border: 0;
    border-radius: 5%;
    font-size: large;
    height: 300px;
    margin:15% 0;
    text-align: center;
    width: 300px;
}