.content {
    text-align: center;
    margin: 0 6vw;
}

.add-btn {
    background-color: #7882A4;
    border: 0;
    border-radius: 50%;
    bottom: 5rem;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 3.75rem;
    position: fixed;
    right: 6rem;
    width: 3.75rem;
}

.add-btn-expanded {
    background-color: #FF7000;
    transform: rotate(45deg);
}

.submit {
    background-color: #A0D995;
    bottom: 9rem;
    cursor: pointer;
}

.add-input-area {
    border: 3px #7882A4 dashed;
    bottom: 3rem;
    font-size: 1.5rem;
    height: 12rem;
    padding: 1% 2%;
    position: fixed;
    resize: none;
    right: 10rem;
    width: 20rem;
    word-wrap: break-word;
}

textarea {
    overflow: auto;
    outline: none;
}

/* To Do Item Styling */
.todo-item {
    background-color: #EEEEEE;
    border: 2px #7882A4 solid;
    box-shadow: 5px 0px 15px #7882A4;
    display: inline-block;
    font-size: larger;
    height: 15rem;
    margin: 1%;
    overflow: auto;
    padding: 1%;
    width: 15rem;
    word-wrap: break-word;
}

.delete-btn {
    background-color: rgb(254, 50, 50);
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-size: large;
    height: 2.5rem;
    margin: 1% 0 0;
    padding-bottom: 0;
    width: 5rem;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #7882A4;
}

.todo-item::-webkit-scrollbar {
    width: 5px;
}