.todo-container {
    text-align: center;
    margin: 0 6vw;
}

.header {
    background-color: white;
    font-size: 2.4rem;
    font-family: monospace;
    margin: 0;
    padding: 1% 2%;
    position: sticky;
    text-align: start;
    top: 0;
}